In [1]:
# imports
import pandas as pd
import requests
import os
from IPython.display import JSON # to view and interact with JSON in notebook

Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [34]:
# import city bikes station locations for montreal
path = '/Users/brigitteasullivan/My Drive/0.Bootcamp/1. Data Course/lighthouse-data-notes/Week_12/Project/w12-statistical-modelling-project/data/city_bikes_mtl_data.csv'
stations_data = pd.read_csv(path, index_col='Unnamed: 0')
stations_data

,station_id,name,id,empty_slots,has_ebikes,ebikes,slots,renting,returning,latitude,longitude,timestamp
0,72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,72bfd647b3d2b650546f42319729757d,7,True,3,11,1,1,45.617500,-73.606011,2023-08-28T14:41:43.796000Z
1,36c6491aa1b52e5ef7005f984738de27,Gare d'autocars de Montréal (Berri / Ontario),36c6491aa1b52e5ef7005f984738de27,4,True,1,15,1,1,45.516926,-73.564257,2023-08-28T14:41:43.536000Z
2,8db822a266b5ccb3a1e323ddc8721d62,Ateliers municipaux de St-Laurent (Cavendish /...,8db822a266b5ccb3a1e323ddc8721d62,13,True,1,19,1,1,45.506176,-73.711186,2023-08-28T14:41:44.012000Z
3,660275cd7d4368cc7590f1606c633bd6,Place Rodolphe-Rousseau (Gohier / Édouard-Laurin),660275cd7d4368cc7590f1606c633bd6,15,True,5,25,1,1,45.512994,-73.682498,2023-08-28T14:41:43.431000Z
4,fddada5adc997290212b3f540c017274,Centre des loisirs (Tassé / Grenet),fddada5adc997290212b3f540c017274,6,True,3,15,1,1,45.514734,-73.691449,2023-08-28T14:41:44.011000Z
...,...,...,...,...,...,...,...,...,...,...,...,...
789,cf46557eb890581a5631cafc7b9a2bba,Roy / St-André,cf46557eb890581a5631cafc7b9a2bba,13,True,0,23,1,1,45.521564,-73.570367,2023-08-28T14:41:44.351000Z
790,4249917b3ff262f4cd831f8ea34cf74e,Atwater / Sherbrooke,4249917b3ff262f4cd831f8ea34cf74e,15,True,2,23,1,1,45.491226,-73.587630,2023-08-28T14:41:43.811000Z
791,7b28024fd4c90ded38fc0447771d1ca4,Ste-Catherine / Bishop,7b28024fd4c90ded38fc0447771d1ca4,8,True,1,19,1,1,45.496581,-73.576215,2023-08-28T14:41:43.641000Z
792,7c116c44d814279d54202eeec81ddddb,Métro Lucien-L'Allier (Lucien l'Allier / Argyle),7c116c44d814279d54202eeec81ddddb,16,True,0,17,1,1,45.494872,-73.571124,2023-08-28T14:41:43.779000Z
793,0bfb7384b255c89b94b68ee5f227a792,Carrefour Angrignon (Angrignon / Newman),0bfb7384b255c89b94b68ee5f227a792,14,True,1,17,1,1,45.448434,-73.612945,2023-08-28T14:41:43.754000Z

In [31]:
# import foursquare data for montreal
path = '/Users/brigitteasullivan/My Drive/0.Bootcamp/1. Data Course/lighthouse-data-notes/Week_12/Project/w12-statistical-modelling-project/data/fsq_data.csv'
fsq_data = pd.read_csv(path)
fsq_data

,categoryid,category_name,fsq_name,distance to station,fsq_id,fsq_location
0,16037,Playground,Fun O Max,106,52ffddfb498e1ae6fe109272,"45.617499783128075,-73.60601127147675"
1,16014,Farm,Gagnon Multi Services Inc,659,55b0fdb8498ee9842114f0a5,"45.617499783128075,-73.60601127147675"
2,16019,Hiking Trail,Ge Sports,682,4b35f824c5d048356b5ff043,"45.617499783128075,-73.60601127147675"
3,16017,Garden,Entreprise Viceversa,713,57a0b352498e3533a4402e5a,"45.617499783128075,-73.60601127147675"
4,16000,Landmarks and Outdoors,Bowling Anjou-sur-le-lac,969,4b9c5f9df964a520d16336e3,"45.617499783128075,-73.60601127147675"
...,...,...,...,...,...,...
18481,16019,Hiking Trail,Decathlon Sports,875,3bc6c2fd05bb41f465a6f794,"45.49487159597493,-73.57112377882004"
18482,16026,Monument,Fondation du Horse Palace de Griffintown,878,624d3253b63b413fc1243a5e,"45.49487159597493,-73.57112377882004"
18483,16037,Playground,Fort Angrignon,948,4ba65597f964a520774739e3,"45.44843408492706,-73.6129454523325"
18484,16032,Park,Parc Angrignon,962,4bede0ed6c5c952153ee068a,"45.44843408492706,-73.6129454523325"
18485,16032,Park,Parc Ignace-Bourget,1129,4bdf4cf4e75c0f475da1ca03,"45.44843408492706,-73.6129454523325"

In [35]:
# data cleaning - merge latitude and longitude to match to stations. 


stations_data['location'] = stations_data['latitude'].astype(str) +","+ stations_data['longitude'].astype(str) 
stations_data = stations_data.rename(columns = {'location': 'station_location'})

In [111]:
stations_data[100:101]

,station_id,name,id,empty_slots,has_ebikes,ebikes,slots,renting,returning,latitude,longitude,timestamp,station_location
100,f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474"

In [63]:
#cleaning: review the different categories

fsq_data['category_name'].value_counts()

# decision based on results that all results can be included in analysis.

category_name
Park                           7597
Monument                       2004
Playground                     2002
Farm                            985
Garden                          828
Dog Park                        692
Campground                      557
Historic and Protected Site     529
Plaza                           473
Hiking Trail                    460
Landmarks and Outdoors          444
Roof Deck                       230
Rock Climbing Spot              219
Urban Park                      187
Harbor or Marina                173
Other Great Outdoors            149
Sculpture Garden                137
Bridge                          121
Windmill                        105
Tunnel                           85
Stable                           84
Structure                        76
Picnic Area                      54
Neighborhood                     47
Beach                            35
Hot Spring                       32
Lake                             27
Bathing Area                     25
Fountain                         24
Canal                            21
Canal Lock                       14
Dive Spot                        13
Pedestrian Plaza                 13
River                             9
Island                            8
Scenic Lookout                    8
Mountain                          7
National Park                     7
Nature Preserve                   5
Name: count, dtype: int64

In [54]:
# print(type())

fsq_data[fsq_data['fsq_location'] == stations_data['station_location'][0]]

,categoryid,category_name,fsq_name,distance to station,fsq_id,fsq_location
0,16037,Playground,Fun O Max,106,52ffddfb498e1ae6fe109272,"45.617499783128075,-73.60601127147675"
1,16014,Farm,Gagnon Multi Services Inc,659,55b0fdb8498ee9842114f0a5,"45.617499783128075,-73.60601127147675"
2,16019,Hiking Trail,Ge Sports,682,4b35f824c5d048356b5ff043,"45.617499783128075,-73.60601127147675"
3,16017,Garden,Entreprise Viceversa,713,57a0b352498e3533a4402e5a,"45.617499783128075,-73.60601127147675"
4,16000,Landmarks and Outdoors,Bowling Anjou-sur-le-lac,969,4b9c5f9df964a520d16336e3,"45.617499783128075,-73.60601127147675"

In [69]:
# add a 'green space count' for each station location
fsq_data_outdoors = fsq_data.groupby(['fsq_location']).count().reset_index()
fsq_data_outdoors

,fsq_location,categoryid,category_name,fsq_name,distance to station,fsq_id
0,"45.416294661505354,-73.6129005253315",5,5,5,5,5
1,"45.41773748108526,-73.62338548639853",4,4,4,4,4
2,"45.41774583815495,-73.64518761634827",3,3,3,3,3
3,"45.42070552680549,-73.62966051438889",8,8,8,8,8
4,"45.422451407155854,-73.601194024086",4,4,4,4,4
...,...,...,...,...,...,...
786,"45.64141535746634,-73.4999567270279",5,5,5,5,5
787,"45.64954588445726,-73.49191546440125",2,2,2,2,2
788,"45.65140583915357,-73.50041270256041",1,1,1,1,1
789,"45.69223305604548,-73.63703128697125",8,8,8,8,8
790,"45.697815037503666,-73.65406465532033",2,2,2,2,2

In [71]:
fsq_data_outdoors = fsq_data_outdoors.drop(columns=['category_name', 'fsq_name', 'distance to station', 'fsq_id'])

In [73]:
fsq_data_outdoors = fsq_data_outdoors.rename(columns={'categoryid': 'outdoor_space_num'})
fsq_data_outdoors

                              fsq_location  outdoor_space_num
0     45.416294661505354,-73.6129005253315                  5
1     45.41773748108526,-73.62338548639853                  4
2     45.41774583815495,-73.64518761634827                  3
3     45.42070552680549,-73.62966051438889                  8
4      45.422451407155854,-73.601194024086                  4
..                                     ...                ...
786    45.64141535746634,-73.4999567270279                  5
787   45.64954588445726,-73.49191546440125                  2
788   45.65140583915357,-73.50041270256041                  1
789   45.69223305604548,-73.63703128697125                  8
790  45.697815037503666,-73.65406465532033                  2

[791 rows x 2 columns]

In [81]:
# also look at number of parks 
fsq_data_outdoors_cat = fsq_data.groupby(['fsq_location', 'category_name']).count().reset_index()
fsq_data_outdoors_cat

,fsq_location,category_name,categoryid,fsq_name,distance to station,fsq_id
0,"45.416294661505354,-73.6129005253315",Dog Park,1,1,1,1
1,"45.416294661505354,-73.6129005253315",Farm,1,1,1,1
2,"45.416294661505354,-73.6129005253315",Park,2,2,2,2
3,"45.416294661505354,-73.6129005253315",Playground,1,1,1,1
4,"45.41773748108526,-73.62338548639853",Farm,1,1,1,1
...,...,...,...,...,...,...
6069,"45.69223305604548,-73.63703128697125",Playground,1,1,1,1
6070,"45.69223305604548,-73.63703128697125",River,1,1,1,1
6071,"45.69223305604548,-73.63703128697125",Stable,1,1,1,1
6072,"45.697815037503666,-73.65406465532033",Bridge,1,1,1,1
6073,"45.697815037503666,-73.65406465532033",Stable,1,1,1,1

In [82]:
fsq_data_outdoors_cat = fsq_data_outdoors_cat.drop(columns=['fsq_name', 'distance to station', 'fsq_id'])

In [83]:
fsq_data_outdoors_cat = fsq_data_outdoors_cat.rename(columns={'categoryid': 'num_by_cat'})
fsq_data_outdoors_cat

                               fsq_location category_name  num_by_cat
0      45.416294661505354,-73.6129005253315      Dog Park           1
1      45.416294661505354,-73.6129005253315          Farm           1
2      45.416294661505354,-73.6129005253315          Park           2
3      45.416294661505354,-73.6129005253315    Playground           1
4      45.41773748108526,-73.62338548639853          Farm           1
...                                     ...           ...         ...
6069   45.69223305604548,-73.63703128697125    Playground           1
6070   45.69223305604548,-73.63703128697125         River           1
6071   45.69223305604548,-73.63703128697125        Stable           1
6072  45.697815037503666,-73.65406465532033        Bridge           1
6073  45.697815037503666,-73.65406465532033        Stable           1

[6074 rows x 3 columns]

In [89]:
# merge.... for every row in stations data, show all the records with a matching location in fsq data

stations_sample = stations_data[:1]
stations_sample

data = pd.merge(stations_data, fsq_data_outdoors, how='inner', left_on = stations_data['station_location'], right_on = fsq_data_outdoors['fsq_location'])
data

,key_0,station_id,name,id,empty_slots,has_ebikes,ebikes,slots,renting,returning,latitude,longitude,timestamp,station_location,fsq_location,outdoor_space_num
0,"45.617499783128075,-73.60601127147675",72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,72bfd647b3d2b650546f42319729757d,7,True,3,11,1,1,45.617500,-73.606011,2023-08-28T14:41:43.796000Z,"45.617499783128075,-73.60601127147675","45.617499783128075,-73.60601127147675",5
1,"45.516926210319546,-73.56425732374191",36c6491aa1b52e5ef7005f984738de27,Gare d'autocars de Montréal (Berri / Ontario),36c6491aa1b52e5ef7005f984738de27,4,True,1,15,1,1,45.516926,-73.564257,2023-08-28T14:41:43.536000Z,"45.516926210319546,-73.56425732374191","45.516926210319546,-73.56425732374191",49
2,"45.506175841460966,-73.71118605136871",8db822a266b5ccb3a1e323ddc8721d62,Ateliers municipaux de St-Laurent (Cavendish /...,8db822a266b5ccb3a1e323ddc8721d62,13,True,1,19,1,1,45.506176,-73.711186,2023-08-28T14:41:44.012000Z,"45.506175841460966,-73.71118605136871","45.506175841460966,-73.71118605136871",8
3,"45.5129938566323,-73.68249848484993",660275cd7d4368cc7590f1606c633bd6,Place Rodolphe-Rousseau (Gohier / Édouard-Laurin),660275cd7d4368cc7590f1606c633bd6,15,True,5,25,1,1,45.512994,-73.682498,2023-08-28T14:41:43.431000Z,"45.5129938566323,-73.68249848484993","45.5129938566323,-73.68249848484993",9
4,"45.51473429416659,-73.69144901633263",fddada5adc997290212b3f540c017274,Centre des loisirs (Tassé / Grenet),fddada5adc997290212b3f540c017274,6,True,3,15,1,1,45.514734,-73.691449,2023-08-28T14:41:44.011000Z,"45.51473429416659,-73.69144901633263","45.51473429416659,-73.69144901633263",6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,"45.521564270906616,-73.57036739587784",cf46557eb890581a5631cafc7b9a2bba,Roy / St-André,cf46557eb890581a5631cafc7b9a2bba,13,True,0,23,1,1,45.521564,-73.570367,2023-08-28T14:41:44.351000Z,"45.521564270906616,-73.57036739587784","45.521564270906616,-73.57036739587784",49
787,"45.4912258547597,-73.58763009309769",4249917b3ff262f4cd831f8ea34cf74e,Atwater / Sherbrooke,4249917b3ff262f4cd831f8ea34cf74e,15,True,2,23,1,1,45.491226,-73.587630,2023-08-28T14:41:43.811000Z,"45.4912258547597,-73.58763009309769","45.4912258547597,-73.58763009309769",29
788,"45.49658063218649,-73.5762146115303",7b28024fd4c90ded38fc0447771d1ca4,Ste-Catherine / Bishop,7b28024fd4c90ded38fc0447771d1ca4,8,True,1,19,1,1,45.496581,-73.576215,2023-08-28T14:41:43.641000Z,"45.49658063218649,-73.5762146115303","45.49658063218649,-73.5762146115303",48
789,"45.49487159597493,-73.57112377882004",7c116c44d814279d54202eeec81ddddb,Métro Lucien-L'Allier (Lucien l'Allier / Argyle),7c116c44d814279d54202eeec81ddddb,16,True,0,17,1,1,45.494872,-73.571124,2023-08-28T14:41:43.779000Z,"45.49487159597493,-73.57112377882004","45.49487159597493,-73.57112377882004",48
790,"45.44843408492706,-73.6129454523325",0bfb7384b255c89b94b68ee5f227a792,Carrefour Angrignon (Angrignon / Newman),0bfb7384b255c89b94b68ee5f227a792,14,True,1,17,1,1,45.448434,-73.612945,2023-08-28T14:41:43.754000Z,"45.44843408492706,-73.6129454523325","45.44843408492706,-73.6129454523325",3

In [ ]:
# perform another merge to bring in the num of outdoor spaces by category

In [90]:
data = data.drop(columns=['key_0', 'fsq_location'])
all_data = pd.merge(data, fsq_data_outdoors_cat, how='inner', left_on = data['station_location'], right_on = fsq_data_outdoors_cat['fsq_location'])
all_data

,key_0,station_id,name,id,empty_slots,has_ebikes,ebikes,slots,renting,returning,latitude,longitude,timestamp,station_location,outdoor_space_num,fsq_location,category_name,num_by_cat
0,"45.617499783128075,-73.60601127147675",72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,72bfd647b3d2b650546f42319729757d,7,True,3,11,1,1,45.617500,-73.606011,2023-08-28T14:41:43.796000Z,"45.617499783128075,-73.60601127147675",5,"45.617499783128075,-73.60601127147675",Farm,1
1,"45.617499783128075,-73.60601127147675",72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,72bfd647b3d2b650546f42319729757d,7,True,3,11,1,1,45.617500,-73.606011,2023-08-28T14:41:43.796000Z,"45.617499783128075,-73.60601127147675",5,"45.617499783128075,-73.60601127147675",Garden,1
2,"45.617499783128075,-73.60601127147675",72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,72bfd647b3d2b650546f42319729757d,7,True,3,11,1,1,45.617500,-73.606011,2023-08-28T14:41:43.796000Z,"45.617499783128075,-73.60601127147675",5,"45.617499783128075,-73.60601127147675",Hiking Trail,1
3,"45.617499783128075,-73.60601127147675",72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,72bfd647b3d2b650546f42319729757d,7,True,3,11,1,1,45.617500,-73.606011,2023-08-28T14:41:43.796000Z,"45.617499783128075,-73.60601127147675",5,"45.617499783128075,-73.60601127147675",Landmarks and Outdoors,1
4,"45.617499783128075,-73.60601127147675",72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,72bfd647b3d2b650546f42319729757d,7,True,3,11,1,1,45.617500,-73.606011,2023-08-28T14:41:43.796000Z,"45.617499783128075,-73.60601127147675",5,"45.617499783128075,-73.60601127147675",Playground,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6069,"45.49487159597493,-73.57112377882004",7c116c44d814279d54202eeec81ddddb,Métro Lucien-L'Allier (Lucien l'Allier / Argyle),7c116c44d814279d54202eeec81ddddb,16,True,0,17,1,1,45.494872,-73.571124,2023-08-28T14:41:43.779000Z,"45.49487159597493,-73.57112377882004",48,"45.49487159597493,-73.57112377882004",Roof Deck,2
6070,"45.49487159597493,-73.57112377882004",7c116c44d814279d54202eeec81ddddb,Métro Lucien-L'Allier (Lucien l'Allier / Argyle),7c116c44d814279d54202eeec81ddddb,16,True,0,17,1,1,45.494872,-73.571124,2023-08-28T14:41:43.779000Z,"45.49487159597493,-73.57112377882004",48,"45.49487159597493,-73.57112377882004",Sculpture Garden,1
6071,"45.49487159597493,-73.57112377882004",7c116c44d814279d54202eeec81ddddb,Métro Lucien-L'Allier (Lucien l'Allier / Argyle),7c116c44d814279d54202eeec81ddddb,16,True,0,17,1,1,45.494872,-73.571124,2023-08-28T14:41:43.779000Z,"45.49487159597493,-73.57112377882004",48,"45.49487159597493,-73.57112377882004",Windmill,3
6072,"45.44843408492706,-73.6129454523325",0bfb7384b255c89b94b68ee5f227a792,Carrefour Angrignon (Angrignon / Newman),0bfb7384b255c89b94b68ee5f227a792,14,True,1,17,1,1,45.448434,-73.612945,2023-08-28T14:41:43.754000Z,"45.44843408492706,-73.6129454523325",3,"45.44843408492706,-73.6129454523325",Park,2
6073,"45.44843408492706,-73.6129454523325",0bfb7384b255c89b94b68ee5f227a792,Carrefour Angrignon (Angrignon / Newman),0bfb7384b255c89b94b68ee5f227a792,14,True,1,17,1,1,45.448434,-73.612945,2023-08-28T14:41:43.754000Z,"45.44843408492706,-73.6129454523325",3,"45.44843408492706,-73.6129454523325",Playground,1

In [104]:
type(])

str

In [109]:
# QA - confirm join occured as expected.
test_location = stations_data['station_location'][100]
print(test_location)
                                                  
fsq_data_outdoors_cat[fsq_data_outdoors_cat['fsq_location'] == test_location]

45.51586835126322,-73.56008380651474

,fsq_location,category_name,num_by_cat
2733,"45.51586835126322,-73.56008380651474",Campground,1
2734,"45.51586835126322,-73.56008380651474",Dog Park,1
2735,"45.51586835126322,-73.56008380651474",Farm,1
2736,"45.51586835126322,-73.56008380651474",Garden,2
2737,"45.51586835126322,-73.56008380651474",Hiking Trail,1
2738,"45.51586835126322,-73.56008380651474",Historic and Protected Site,2
2739,"45.51586835126322,-73.56008380651474",Hot Spring,1
2740,"45.51586835126322,-73.56008380651474",Monument,2
2741,"45.51586835126322,-73.56008380651474",Park,27
2742,"45.51586835126322,-73.56008380651474",Playground,5
2743,"45.51586835126322,-73.56008380651474",Plaza,2
2744,"45.51586835126322,-73.56008380651474",Roof Deck,2
2745,"45.51586835126322,-73.56008380651474",Structure,1
2746,"45.51586835126322,-73.56008380651474",Tunnel,1
2747,"45.51586835126322,-73.56008380651474",Urban Park,1

In [107]:
stations_data[stations_data['station_location'] == test_location]

,station_id,name,id,empty_slots,has_ebikes,ebikes,slots,renting,returning,latitude,longitude,timestamp,station_location
100,f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474"

In [116]:
all_data[all_data['station_location'] == test_location]

# outdoor space num for this location is 50... check the sum of num by cat is also 50

,key_0,station_id,name,id,empty_slots,has_ebikes,ebikes,slots,renting,returning,latitude,longitude,timestamp,station_location,outdoor_space_num,fsq_location,category_name,num_by_cat
547,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Campground,1
548,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Dog Park,1
549,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Farm,1
550,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Garden,2
551,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Hiking Trail,1
552,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Historic and Protected Site,2
553,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Hot Spring,1
554,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Monument,2
555,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Park,27
556,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Playground,5
557,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Plaza,2
558,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Roof Deck,2
559,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Structure,1
560,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Tunnel,1
561,"45.51586835126322,-73.56008380651474",f332a5c6e3f7fc73096885d6efc0f829,St-Hubert / de Maisonneuve (sud),f332a5c6e3f7fc73096885d6efc0f829,10,True,0,19,1,1,45.515868,-73.560084,2023-08-28T14:41:44.197000Z,"45.51586835126322,-73.56008380651474",50,"45.51586835126322,-73.56008380651474",Urban Park,1

In [115]:
# sum is also 50... joins function as expected 
all_data[all_data['station_location'] == test_location]['num_by_cat'].sum()

50

In [118]:
# more cleaning... remove duplicate columns - location
all_data.columns

Index(['key_0', 'station_id', 'name', 'id', 'empty_slots', 'has_ebikes',
       'ebikes', 'slots', 'renting', 'returning', 'latitude', 'longitude',
       'timestamp', 'station_location', 'outdoor_space_num', 'fsq_location',
       'category_name', 'num_by_cat'],
      dtype='object')

In [119]:
all_data = all_data.drop(columns=['key_0', 'id', 'latitude', 'longitude', 'fsq_location'])
all_data

,station_id,name,empty_slots,has_ebikes,ebikes,slots,renting,returning,timestamp,station_location,outdoor_space_num,category_name,num_by_cat
0,72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,7,True,3,11,1,1,2023-08-28T14:41:43.796000Z,"45.617499783128075,-73.60601127147675",5,Farm,1
1,72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,7,True,3,11,1,1,2023-08-28T14:41:43.796000Z,"45.617499783128075,-73.60601127147675",5,Garden,1
2,72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,7,True,3,11,1,1,2023-08-28T14:41:43.796000Z,"45.617499783128075,-73.60601127147675",5,Hiking Trail,1
3,72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,7,True,3,11,1,1,2023-08-28T14:41:43.796000Z,"45.617499783128075,-73.60601127147675",5,Landmarks and Outdoors,1
4,72bfd647b3d2b650546f42319729757d,Cégep Marie-Victorin,7,True,3,11,1,1,2023-08-28T14:41:43.796000Z,"45.617499783128075,-73.60601127147675",5,Playground,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6069,7c116c44d814279d54202eeec81ddddb,Métro Lucien-L'Allier (Lucien l'Allier / Argyle),16,True,0,17,1,1,2023-08-28T14:41:43.779000Z,"45.49487159597493,-73.57112377882004",48,Roof Deck,2
6070,7c116c44d814279d54202eeec81ddddb,Métro Lucien-L'Allier (Lucien l'Allier / Argyle),16,True,0,17,1,1,2023-08-28T14:41:43.779000Z,"45.49487159597493,-73.57112377882004",48,Sculpture Garden,1
6071,7c116c44d814279d54202eeec81ddddb,Métro Lucien-L'Allier (Lucien l'Allier / Argyle),16,True,0,17,1,1,2023-08-28T14:41:43.779000Z,"45.49487159597493,-73.57112377882004",48,Windmill,3
6072,0bfb7384b255c89b94b68ee5f227a792,Carrefour Angrignon (Angrignon / Newman),14,True,1,17,1,1,2023-08-28T14:41:43.754000Z,"45.44843408492706,-73.6129454523325",3,Park,2
6073,0bfb7384b255c89b94b68ee5f227a792,Carrefour Angrignon (Angrignon / Newman),14,True,1,17,1,1,2023-08-28T14:41:43.754000Z,"45.44843408492706,-73.6129454523325",3,Playground,1

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

Look at the data before and after the join to validate your data.