# Regression Model Build and Evaluate

In [1]:
# imports
import pandas as pd
import numpy as np
import statsmodels.api as sm
import os
import seaborn as sns

## Import data

In [2]:
# import all_data from part 3
path = '/Users/brigitteasullivan/My Drive/0.Bootcamp/1. Data Course/lighthouse-data-notes/Week_12/Project/w12-statistical-modelling-project/data/all_data.csv'
all_data = pd.read_csv(path)
all_data.head(3)

,station_id,name,free_bikes,empty_slots,has_ebikes,ebikes,slots,renting,returning,timestamp,station_location,outdoor_space_num,category_name,num_by_cat,num_parks
0,36c6491aa1b52e5ef7005f984738de27,Gare d'autocars de Montréal (Berri / Ontario),4,11,True,2,15,1,1,2023-08-31T14:04:02.318000Z,"45.516926210319546,-73.56425732374191",49,Campground,1,27
1,36c6491aa1b52e5ef7005f984738de27,Gare d'autocars de Montréal (Berri / Ontario),4,11,True,2,15,1,1,2023-08-31T14:04:02.318000Z,"45.516926210319546,-73.56425732374191",49,Dog Park,1,27
2,36c6491aa1b52e5ef7005f984738de27,Gare d'autocars de Montréal (Berri / Ontario),4,11,True,2,15,1,1,2023-08-31T14:04:02.318000Z,"45.516926210319546,-73.56425732374191",49,Farm,1,27

In [3]:
# import all_data_numeric from part 3
path = '/Users/brigitteasullivan/My Drive/0.Bootcamp/1. Data Course/lighthouse-data-notes/Week_12/Project/w12-statistical-modelling-project/data/all_data_numeric.csv'
all_data_numeric = pd.read_csv(path)
all_data_numeric.head(3)

,station_id,free_bikes,empty_slots,ebikes,slots,outdoor_space_num,num_parks
0,36c6491aa1b52e5ef7005f984738de27,4,11,2,15,49,27
1,8db822a266b5ccb3a1e323ddc8721d62,3,16,0,19,8,3
2,660275cd7d4368cc7590f1606c633bd6,10,15,8,25,9,7

## Build a regression model.

In [4]:
all_data_numeric.describe()

,free_bikes,empty_slots,ebikes,slots,outdoor_space_num,num_parks
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,8.734375,12.132812,1.695312,21.923177,23.640625,9.791667
std,8.605796,7.393790,2.607457,7.108075,16.251479,6.811742
min,0.000000,0.000000,0.000000,11.000000,1.000000,1.000000
25%,2.000000,6.000000,0.000000,18.750000,9.000000,4.000000
50%,7.000000,12.000000,1.000000,19.000000,19.000000,8.000000
75%,13.000000,17.000000,2.000000,23.000000,38.000000,14.000000
max,60.000000,56.000000,15.000000,81.000000,51.000000,34.000000

### Approach

**Original approach:** 
I first attempted simple linear regression on all possible combinations (8) of
target variable:
- outdoor_space_num
- num_parks

with independent variable:
- free_bikes
- empty_slots
- slots
- ebikes

The highest adjusted r-square value was 0.0055 of all the models I attempted. 

**Revised approach:**
Decided to restructure the data to have the number of outdoor space by type as seperate columns so that there are more options for independent variables, and narrowed the independent variable to number of slots. (There was no explicit mention that free bikes is the required independent variable in compass content and felt that number of slots represented overall supply/demand of bikes better than a point in time number of free bikes). 

1. Restructure Data
2. Address NaN values
3. Perform multivariate linear regression with backward selection using number of slots as dependent variable.

#### 1. Restructure data

To make the number of columns to be created more manageable, a sample of outdoor space types to use in analysis. This was done by finding the smallest number of categories represent the largest reasonable proportion of data.

In [50]:
# for each category what is the number of spaces within 1k of a station
all_data['category_name'].value_counts()

category_name
Park                           768
Playground                     572
Monument                       461
Farm                           409
Garden                         402
Dog Park                       380
Campground                     363
Hiking Trail                   333
Landmarks and Outdoors         316
Historic and Protected Site    261
Roof Deck                      198
Rock Climbing Spot             192
Plaza                          166
Other Great Outdoors           143
Urban Park                     115
Sculpture Garden                96
Tunnel                          84
Stable                          81
Bridge                          77
Structure                       67
Windmill                        61
Harbor or Marina                60
Picnic Area                     54
Neighborhood                    46
Hot Spring                      32
Beach                           28
Lake                            25
Bathing Area                    24
Fountain                        24
Canal                           21
Canal Lock                      14
Dive Spot                       13
Pedestrian Plaza                13
River                            8
Island                           8
Scenic Lookout                   8
Mountain                         7
National Park                    6
Nature Preserve                  5
Name: count, dtype: int64

In [52]:
total_outdoor_spaces = all_data['category_name'].value_counts().sum()
total_outdoor_spaces

5941

In [57]:
# Find the % of data each category represents
percent = (all_data['category_name'].value_counts().sort_values(ascending = False) / total_outdoor_spaces) * 100
percent[:1].sum()

12.927116647029118

In [58]:
# the top 10 categories make up 71% of the data... use these categories. 
category_list = list(percent[:10].index)
category_list

['Park',
 'Playground',
 'Monument',
 'Farm',
 'Garden',
 'Dog Park',
 'Campground',
 'Hiking Trail',
 'Landmarks and Outdoors',
 'Historic and Protected Site']

In [64]:
# take 10 most common outdoor space type, and make a col with number within 1k for each station 
columns = ['station_id', 'outdoor_space_num', 'category_name', 'num_by_cat']

all_data_test = all_data.loc[all_data['category_name'].isin(category_list), columns]
all_data_test

,station_id,outdoor_space_num,category_name,num_by_cat
0,36c6491aa1b52e5ef7005f984738de27,49,Campground,1
1,36c6491aa1b52e5ef7005f984738de27,49,Dog Park,1
2,36c6491aa1b52e5ef7005f984738de27,49,Farm,1
3,36c6491aa1b52e5ef7005f984738de27,49,Garden,3
5,36c6491aa1b52e5ef7005f984738de27,49,Monument,2
...,...,...,...,...
5931,e2cf66a0da3c867233306941853190b4,50,Historic and Protected Site,4
5932,e2cf66a0da3c867233306941853190b4,50,Landmarks and Outdoors,2
5933,e2cf66a0da3c867233306941853190b4,50,Monument,6
5935,e2cf66a0da3c867233306941853190b4,50,Park,13
5936,e2cf66a0da3c867233306941853190b4,50,Playground,2

In [65]:
# restructure / transpose / pivot the data so that each category name value becomes its own column
all_data_test = all_data_test.pivot(index = 'station_id', columns='category_name', values='num_by_cat')
all_data_test

category_name,Campground,Dog Park,Farm,Garden,Hiking Trail,Historic and Protected Site,Landmarks and Outdoors,Monument,Park,Playground
station_id,,,,,,,,,,
00c210cb99cf9d1b923c1548938aee56,3.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,12.0,5.0
00c84f03ca5970eaa144ed6867d1e2b9,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
014e10dba2d92bd20c826b88864dc6b6,NaN,NaN,5.0,1.0,2.0,NaN,NaN,16.0,13.0,1.0
01f9b7e63833ad61e80a7963e2ad9b25,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
02044f52405851c50980c20964349a5d,2.0,NaN,4.0,1.0,1.0,NaN,1.0,NaN,16.0,5.0
...,...,...,...,...,...,...,...,...,...,...
ff534fa61076a7bc3694dbc2ea26efaf,NaN,NaN,4.0,2.0,2.0,1.0,1.0,10.0,17.0,5.0
ff57fa074079c8cb3d2bfeffa3adc4bf,NaN,3.0,1.0,1.0,NaN,2.0,1.0,1.0,18.0,1.0
ff85c138d884da9a4540f32b12086338,1.0,6.0,5.0,2.0,1.0,1.0,NaN,5.0,16.0,2.0
ffb74f094efc5f559700c6b2431da637,1.0,3.0,NaN,3.0,3.0,NaN,1.0,2.0,10.0,4.0
ffb9a83c9965e7749a06d468a36a7e35,1.0,2.0,1.0,NaN,NaN,2.0,NaN,NaN,6.0,2.0

In [66]:
all_data_test = all_data_test.reset_index(drop=False)
all_data_test

category_name,station_id,Campground,Dog Park,Farm,Garden,Hiking Trail,Historic and Protected Site,Landmarks and Outdoors,Monument,Park,Playground
0,00c210cb99cf9d1b923c1548938aee56,3.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,12.0,5.0
1,00c84f03ca5970eaa144ed6867d1e2b9,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
2,014e10dba2d92bd20c826b88864dc6b6,NaN,NaN,5.0,1.0,2.0,NaN,NaN,16.0,13.0,1.0
3,01f9b7e63833ad61e80a7963e2ad9b25,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
4,02044f52405851c50980c20964349a5d,2.0,NaN,4.0,1.0,1.0,NaN,1.0,NaN,16.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
763,ff534fa61076a7bc3694dbc2ea26efaf,NaN,NaN,4.0,2.0,2.0,1.0,1.0,10.0,17.0,5.0
764,ff57fa074079c8cb3d2bfeffa3adc4bf,NaN,3.0,1.0,1.0,NaN,2.0,1.0,1.0,18.0,1.0
765,ff85c138d884da9a4540f32b12086338,1.0,6.0,5.0,2.0,1.0,1.0,NaN,5.0,16.0,2.0
766,ffb74f094efc5f559700c6b2431da637,1.0,3.0,NaN,3.0,3.0,NaN,1.0,2.0,10.0,4.0
767,ffb9a83c9965e7749a06d468a36a7e35,1.0,2.0,1.0,NaN,NaN,2.0,NaN,NaN,6.0,2.0

In [67]:
all_data_test = all_data_test.reset_index(drop=True)
all_data_test

category_name,station_id,Campground,Dog Park,Farm,Garden,Hiking Trail,Historic and Protected Site,Landmarks and Outdoors,Monument,Park,Playground
0,00c210cb99cf9d1b923c1548938aee56,3.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,12.0,5.0
1,00c84f03ca5970eaa144ed6867d1e2b9,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0
2,014e10dba2d92bd20c826b88864dc6b6,NaN,NaN,5.0,1.0,2.0,NaN,NaN,16.0,13.0,1.0
3,01f9b7e63833ad61e80a7963e2ad9b25,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN
4,02044f52405851c50980c20964349a5d,2.0,NaN,4.0,1.0,1.0,NaN,1.0,NaN,16.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...
763,ff534fa61076a7bc3694dbc2ea26efaf,NaN,NaN,4.0,2.0,2.0,1.0,1.0,10.0,17.0,5.0
764,ff57fa074079c8cb3d2bfeffa3adc4bf,NaN,3.0,1.0,1.0,NaN,2.0,1.0,1.0,18.0,1.0
765,ff85c138d884da9a4540f32b12086338,1.0,6.0,5.0,2.0,1.0,1.0,NaN,5.0,16.0,2.0
766,ffb74f094efc5f559700c6b2431da637,1.0,3.0,NaN,3.0,3.0,NaN,1.0,2.0,10.0,4.0
767,ffb9a83c9965e7749a06d468a36a7e35,1.0,2.0,1.0,NaN,NaN,2.0,NaN,NaN,6.0,2.0

In [69]:
# just in case add a top10 total
all_data_2 = all_data_test
all_data_2['top_10_total'] =  all_data_2[category_list].sum(axis=1)
all_data_2

category_name,station_id,Campground,Dog Park,Farm,Garden,Hiking Trail,Historic and Protected Site,Landmarks and Outdoors,Monument,Park,Playground,top_10_total
0,00c210cb99cf9d1b923c1548938aee56,3.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,12.0,5.0,29.0
1,00c84f03ca5970eaa144ed6867d1e2b9,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,8.0
2,014e10dba2d92bd20c826b88864dc6b6,NaN,NaN,5.0,1.0,2.0,NaN,NaN,16.0,13.0,1.0,38.0
3,01f9b7e63833ad61e80a7963e2ad9b25,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4.0
4,02044f52405851c50980c20964349a5d,2.0,NaN,4.0,1.0,1.0,NaN,1.0,NaN,16.0,5.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...
763,ff534fa61076a7bc3694dbc2ea26efaf,NaN,NaN,4.0,2.0,2.0,1.0,1.0,10.0,17.0,5.0,42.0
764,ff57fa074079c8cb3d2bfeffa3adc4bf,NaN,3.0,1.0,1.0,NaN,2.0,1.0,1.0,18.0,1.0,28.0
765,ff85c138d884da9a4540f32b12086338,1.0,6.0,5.0,2.0,1.0,1.0,NaN,5.0,16.0,2.0,39.0
766,ffb74f094efc5f559700c6b2431da637,1.0,3.0,NaN,3.0,3.0,NaN,1.0,2.0,10.0,4.0,27.0
767,ffb9a83c9965e7749a06d468a36a7e35,1.0,2.0,1.0,NaN,NaN,2.0,NaN,NaN,6.0,2.0,14.0

In [70]:
# data validation/QA - there are many nulls in each column
all_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 12 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   station_id                   768 non-null    object
 1   Campground                   363 non-null    float64
 2   Dog Park                     380 non-null    float64
 3   Farm                         409 non-null    float64
 4   Garden                       402 non-null    float64
 5   Hiking Trail                 333 non-null    float64
 6   Historic and Protected Site  261 non-null    float64
 7   Landmarks and Outdoors       316 non-null    float64
 8   Monument                     461 non-null    float64
 9   Park                         768 non-null    float64
 10  Playground                   572 non-null    float64
 11  top_10_total                 768 non-null    float64
dtypes: float64(11), object(1)
memory usage: 72.1+ KB

In [71]:
all_data_2.head(3)

category_name,station_id,Campground,Dog Park,Farm,Garden,Hiking Trail,Historic and Protected Site,Landmarks and Outdoors,Monument,Park,Playground,top_10_total
0,00c210cb99cf9d1b923c1548938aee56,3.0,1.0,3.0,1.0,1.0,1.0,1.0,1.0,12.0,5.0,29.0
1,00c84f03ca5970eaa144ed6867d1e2b9,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,2.0,8.0
2,014e10dba2d92bd20c826b88864dc6b6,NaN,NaN,5.0,1.0,2.0,NaN,NaN,16.0,13.0,1.0,38.0

In [72]:
# merge data back with citibikes based on station id
all_data_numeric_2 = pd.merge(all_data_numeric, all_data_2, how='inner', left_on = all_data_numeric['station_id'], right_on = all_data_2['station_id'])

In [73]:
all_data_numeric_2 = all_data_numeric_2.drop(columns=['key_0', 'station_id_y']).rename(columns={'station_id_x': 'station_id'})

In [74]:
all_data_numeric_2

,station_id,free_bikes,empty_slots,ebikes,slots,outdoor_space_num,num_parks,Campground,Dog Park,Farm,Garden,Hiking Trail,Historic and Protected Site,Landmarks and Outdoors,Monument,Park,Playground,top_10_total
0,36c6491aa1b52e5ef7005f984738de27,4,11,2,15,49,27,1.0,1.0,1.0,3.0,NaN,NaN,NaN,2.0,27.0,6.0,41.0
1,8db822a266b5ccb3a1e323ddc8721d62,3,16,0,19,8,3,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,3.0,3.0,8.0
2,660275cd7d4368cc7590f1606c633bd6,10,15,8,25,9,7,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,9.0
3,fddada5adc997290212b3f540c017274,8,6,5,15,6,3,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,6.0
4,83d02cd8a043b8305a4031063005d32e,12,3,1,15,8,4,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,4.0,2.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,7c116c44d814279d54202eeec81ddddb,5,12,0,17,48,10,1.0,1.0,8.0,3.0,1.0,NaN,2.0,9.0,10.0,2.0,37.0
764,0bfb7384b255c89b94b68ee5f227a792,11,5,3,17,3,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0,3.0
765,f05dc5b7b3635787d9fe3fd8565bee7a,2,21,1,23,39,11,2.0,2.0,5.0,4.0,2.0,NaN,2.0,5.0,11.0,2.0,35.0
766,3e138c9acff07bff5f9e684c01bc564f,34,0,2,34,50,9,NaN,NaN,2.0,4.0,1.0,5.0,3.0,13.0,9.0,1.0,38.0
767,e2cf66a0da3c867233306941853190b4,3,16,1,19,50,13,NaN,NaN,NaN,6.0,2.0,4.0,2.0,6.0,13.0,2.0,35.0

#### Address Missing values

In this case, the NaN values represent a lack of rather than a missing value. Example: A NaN in the campground column means that there are no campgrounds within 1000m of that station, so it is safe to replace the NaNs with 0 in the data.

In [38]:
model_data = all_data_numeric_2.fillna(0).drop(columns=['station_id', 'empty_slots', 'ebikes', 'free_bikes', 'top_10_total', 'outdoor_space_num', 'num_parks'])
model_data

,slots,Campground,Dog Park,Farm,Garden,Hiking Trail,Historic and Protected Site,Landmarks and Outdoors,Monument,Park,Playground
0,15,1.0,1.0,1.0,3.0,0.0,0.0,0.0,2.0,27.0,6.0
1,19,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,3.0
2,25,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0
3,15,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0
4,15,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
763,17,1.0,1.0,8.0,3.0,1.0,0.0,2.0,9.0,10.0,2.0
764,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
765,23,2.0,2.0,5.0,4.0,2.0,0.0,2.0,5.0,11.0,2.0
766,34,0.0,0.0,2.0,4.0,1.0,5.0,3.0,13.0,9.0,1.0
767,19,0.0,0.0,0.0,6.0,2.0,4.0,2.0,6.0,13.0,2.0

## Provide model output and an interpretation of the results.

### Model Output

In [39]:
#run full model
y = model_data['slots']
X = model_data.drop('slots', axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  slots   R-squared:                       0.201
Model:                            OLS   Adj. R-squared:                  0.190
Method:                 Least Squares   F-statistic:                     19.00
Date:                Thu, 31 Aug 2023   Prob (F-statistic):           2.32e-31
Time:                        15:17:44   Log-Likelihood:                -2509.5
No. Observations:                 768   AIC:                             5041.
Df Residuals:                     757   BIC:                             5092.
Df Model:                          10
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                          18.9279      0.460     41.177      0.000      18.025      19.830
Campground                      0.0307      0.263      0.117      0.907      -0.485       0.547
Dog Park                       -0.1942      0.209     -0.931      0.352      -0.603       0.215
Farm                            0.4657      0.188      2.482      0.013       0.097       0.834
Garden                          0.2249      0.147      1.532      0.126      -0.063       0.513
Hiking Trail                   -0.1432      0.372     -0.385      0.701      -0.874       0.587
Historic and Protected Site     0.9613      0.220      4.364      0.000       0.529       1.394
Landmarks and Outdoors          0.1995      0.405      0.493      0.622      -0.595       0.994
Monument                        0.3413      0.095      3.583      0.000       0.154       0.528
Park                            0.0951      0.050      1.908      0.057      -0.003       0.193
Playground                     -0.0563      0.111     -0.505      0.614      -0.275       0.162
==============================================================================
Omnibus:                      301.265   Durbin-Watson:                   1.864
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2078.028
Skew:                           1.608   Prob(JB):                         0.00
Kurtosis:                      10.389   Cond. No.                         27.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [75]:
#run full model, remove independent variable with the higest p-value
y = model_data['slots']
X = model_data.drop(['slots', 'Campground'], axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  slots   R-squared:                       0.201
Model:                            OLS   Adj. R-squared:                  0.191
Method:                 Least Squares   F-statistic:                     21.13
Date:                Thu, 31 Aug 2023   Prob (F-statistic):           4.90e-32
Time:                        16:31:55   Log-Likelihood:                -2509.5
No. Observations:                 768   AIC:                             5039.
Df Residuals:                     758   BIC:                             5085.
Df Model:                           9
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                          18.9449      0.436     43.475      0.000      18.089      19.800
Dog Park                       -0.1921      0.208     -0.925      0.355      -0.600       0.215
Farm                            0.4721      0.179      2.632      0.009       0.120       0.824
Garden                          0.2268      0.146      1.555      0.120      -0.060       0.513
Hiking Trail                   -0.1340      0.364     -0.369      0.712      -0.848       0.580
Historic and Protected Site     0.9614      0.220      4.367      0.000       0.529       1.394
Landmarks and Outdoors          0.1973      0.404      0.488      0.626      -0.596       0.991
Monument                        0.3379      0.091      3.724      0.000       0.160       0.516
Park                            0.0946      0.050      1.907      0.057      -0.003       0.192
Playground                     -0.0553      0.111     -0.498      0.619      -0.273       0.163
==============================================================================
Omnibus:                      301.170   Durbin-Watson:                   1.863
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2076.690
Skew:                           1.608   Prob(JB):                         0.00
Kurtosis:                      10.386   Cond. No.                         25.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [76]:
#run full model, remove variable with highest pvalue in latest iteration
y = model_data['slots']
X = model_data.drop(['slots', 'Campground', 'Hiking Trail'], axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  slots   R-squared:                       0.200
Model:                            OLS   Adj. R-squared:                  0.192
Method:                 Least Squares   F-statistic:                     23.79
Date:                Thu, 31 Aug 2023   Prob (F-statistic):           1.03e-32
Time:                        16:32:13   Log-Likelihood:                -2509.6
No. Observations:                 768   AIC:                             5037.
Df Residuals:                     759   BIC:                             5079.
Df Model:                           8
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                          18.9139      0.427     44.258      0.000      18.075      19.753
Dog Park                       -0.1947      0.207     -0.939      0.348      -0.602       0.212
Farm                            0.4760      0.179      2.660      0.008       0.125       0.827
Garden                          0.2222      0.145      1.530      0.126      -0.063       0.507
Historic and Protected Site     0.9650      0.220      4.391      0.000       0.534       1.396
Landmarks and Outdoors          0.1760      0.400      0.440      0.660      -0.609       0.961
Monument                        0.3265      0.085      3.830      0.000       0.159       0.494
Park                            0.0948      0.050      1.912      0.056      -0.003       0.192
Playground                     -0.0587      0.111     -0.530      0.596      -0.276       0.159
==============================================================================
Omnibus:                      301.109   Durbin-Watson:                   1.863
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2073.796
Skew:                           1.608   Prob(JB):                         0.00
Kurtosis:                      10.380   Cond. No.                         25.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [78]:
#run full model, remove variable wiith highest pvalue in latest iteration
y = model_data['slots']
X = model_data.drop(['slots', 'Campground', 'Hiking Trail','Landmarks and Outdoors' ], axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  slots   R-squared:                       0.200
Model:                            OLS   Adj. R-squared:                  0.193
Method:                 Least Squares   F-statistic:                     27.19
Date:                Thu, 31 Aug 2023   Prob (F-statistic):           2.09e-33
Time:                        16:32:23   Log-Likelihood:                -2509.7
No. Observations:                 768   AIC:                             5035.
Df Residuals:                     760   BIC:                             5072.
Df Model:                           7
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                          18.9432      0.422     44.898      0.000      18.115      19.771
Dog Park                       -0.2061      0.206     -1.002      0.316      -0.610       0.198
Farm                            0.4981      0.172      2.901      0.004       0.161       0.835
Garden                          0.2423      0.138      1.759      0.079      -0.028       0.513
Historic and Protected Site     1.0069      0.198      5.085      0.000       0.618       1.396
Monument                        0.3310      0.085      3.913      0.000       0.165       0.497
Park                            0.0940      0.050      1.898      0.058      -0.003       0.191
Playground                     -0.0595      0.111     -0.538      0.590      -0.277       0.157
==============================================================================
Omnibus:                      301.112   Durbin-Watson:                   1.860
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2055.938
Skew:                           1.611   Prob(JB):                         0.00
Kurtosis:                      10.340   Cond. No.                         23.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [79]:
#run full model, remove variable wiith highest pvalue in latest iteration
y = model_data['slots']
X = model_data.drop(['slots', 'Campground', 'Hiking Trail','Landmarks and Outdoors', 'Playground'], axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  slots   R-squared:                       0.200
Model:                            OLS   Adj. R-squared:                  0.194
Method:                 Least Squares   F-statistic:                     31.70
Date:                Thu, 31 Aug 2023   Prob (F-statistic):           4.08e-34
Time:                        16:32:25   Log-Likelihood:                -2509.8
No. Observations:                 768   AIC:                             5034.
Df Residuals:                     761   BIC:                             5066.
Df Model:                           6
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                          18.9235      0.420     45.042      0.000      18.099      19.748
Dog Park                       -0.1913      0.204     -0.939      0.348      -0.591       0.209
Farm                            0.4979      0.172      2.901      0.004       0.161       0.835
Garden                          0.2481      0.137      1.808      0.071      -0.021       0.518
Historic and Protected Site     1.0135      0.198      5.131      0.000       0.626       1.401
Monument                        0.3356      0.084      3.989      0.000       0.170       0.501
Park                            0.0768      0.038      2.031      0.043       0.003       0.151
==============================================================================
Omnibus:                      300.680   Durbin-Watson:                   1.857
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2051.795
Skew:                           1.608   Prob(JB):                         0.00
Kurtosis:                      10.333   Cond. No.                         22.9
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Model Output A:

In [44]:
#run full model, remove variable wiith highest pvalue in latest iteration
y = model_data['slots']
X = model_data.drop(['slots', 'Campground', 'Hiking Trail','Landmarks and Outdoors', 'Playground','Dog Park'], axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  slots   R-squared:                       0.199
Model:                            OLS   Adj. R-squared:                  0.194
Method:                 Least Squares   F-statistic:                     37.87
Date:                Thu, 31 Aug 2023   Prob (F-statistic):           9.66e-35
Time:                        15:26:59   Log-Likelihood:                -2510.3
No. Observations:                 768   AIC:                             5033.
Df Residuals:                     762   BIC:                             5060.
Df Model:                           5
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                          18.8579      0.414     45.522      0.000      18.045      19.671
Farm                            0.4650      0.168      2.768      0.006       0.135       0.795
Garden                          0.2429      0.137      1.771      0.077      -0.026       0.512
Historic and Protected Site     0.9565      0.188      5.089      0.000       0.587       1.325
Monument                        0.3581      0.081      4.441      0.000       0.200       0.516
Park                            0.0689      0.037      1.870      0.062      -0.003       0.141
==============================================================================
Omnibus:                      303.842   Durbin-Watson:                   1.856
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2125.491
Skew:                           1.620   Prob(JB):                         0.00
Kurtosis:                      10.478   Cond. No.                         22.4
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Model Output B (final model):

In [80]:
#run full model, remove variable with highest pvalue in latest iteration
y = model_data['slots']
X = model_data.drop(['slots', 'Campground', 'Hiking Trail','Landmarks and Outdoors', 'Playground','Dog Park', 'Garden'], axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  slots   R-squared:                       0.196
Model:                            OLS   Adj. R-squared:                  0.192
Method:                 Least Squares   F-statistic:                     46.42
Date:                Thu, 31 Aug 2023   Prob (F-statistic):           6.18e-35
Time:                        16:32:45   Log-Likelihood:                -2511.8
No. Observations:                 768   AIC:                             5034.
Df Residuals:                     763   BIC:                             5057.
Df Model:                           4
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                          18.9451      0.412     45.994      0.000      18.136      19.754
Farm                            0.4443      0.168      2.648      0.008       0.115       0.774
Historic and Protected Site     0.9781      0.188      5.208      0.000       0.609       1.347
Monument                        0.3783      0.080      4.733      0.000       0.221       0.535
Park                            0.0820      0.036      2.269      0.024       0.011       0.153
==============================================================================
Omnibus:                      304.521   Durbin-Watson:                   1.859
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             2155.746
Skew:                           1.620   Prob(JB):                         0.00
Kurtosis:                      10.541   Cond. No.                         22.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

### Model Interpretation:

Perform backward selection to to remove least significant variables one at a time. 

**Note:**

* In the first iteration, several independent variables came back as not statistically significant to the model with high pvalues:
    * Campground  - 0.907 pvalue
    * Hiking Trail - 0.701 
    * Landmarks and Outdoors - 0.622
    * Playground - 0.614
* When I compared Model Output A and B, there was a decrease in the Adjusted r-square value, however all of Model B's variables were statistically significant. I concluded that model output B is still the preferred / 'best' model since the decrease in adjusted r square is minimal (0.002) for a model where all variables are statistically significant. 
    * Model A Adjusted R-Square:  0.194
    * Model B Adjusted R-Square:  0.192
* The adjusted R-quare value in the final model of 0.192 means that about 19.2% of the variance in the dependent variable can be explained by the independent variables
* In model output A, Park is technically not statistiscally significant with a pvalue of 0.062 (but very close to 0.05 threshold). When Garden is removed from Model B, the pvalue for Park drops and Park becomes a statistically significant. 
* Historic and Protected sites is the outdoor space category that makes the largest contribution to the model with the highest coefficient value, followed by monuments. Both categories have a P-value of 0.000 indicating high significance.

# Stretch

**How can you turn the regression model into a classification model?**

**Answer:**
in city bikes extract, there is a feature for whether or not there are e-bikes at a particular station (presented as true or false)
I could use the e-bike status (T/F) as the dependent variable and see if I could use the number of outdoor spaces or the number of parks to predict whether a station will have e-bikes or not.