# 1. Regression Model Build and Evaluate

In [15]:
# imports
import pandas as pd
import numpy as np
import statsmodels.api as sm
import os
import seaborn as sns

## Import data

In [16]:
# import all_data from part 3
path = '/Users/brigitteasullivan/My Drive/0.Bootcamp/1. Data Course/lighthouse-data-notes/Week_12/Project/w12-statistical-modelling-project/data/all_data.csv'
all_data = pd.read_csv(path)
all_data.head(3)

,station_id,name,free_bikes,empty_slots,has_ebikes,ebikes,slots,renting,returning,timestamp,station_location,outdoor_space_num,category_name,num_by_cat,num_parks
0,36c6491aa1b52e5ef7005f984738de27,Gare d'autocars de Montréal (Berri / Ontario),4,11,True,2,15,1,1,2023-08-31T14:04:02.318000Z,"45.516926210319546,-73.56425732374191",49,Campground,1,27
1,36c6491aa1b52e5ef7005f984738de27,Gare d'autocars de Montréal (Berri / Ontario),4,11,True,2,15,1,1,2023-08-31T14:04:02.318000Z,"45.516926210319546,-73.56425732374191",49,Dog Park,1,27
2,36c6491aa1b52e5ef7005f984738de27,Gare d'autocars de Montréal (Berri / Ontario),4,11,True,2,15,1,1,2023-08-31T14:04:02.318000Z,"45.516926210319546,-73.56425732374191",49,Farm,1,27

In [30]:
# import all_data_numeric from part 3
path = '/Users/brigitteasullivan/My Drive/0.Bootcamp/1. Data Course/lighthouse-data-notes/Week_12/Project/w12-statistical-modelling-project/data/all_data_numeric.csv'
all_data_numeric = pd.read_csv(path)
all_data_numeric.head(3)

,station_id,free_bikes,empty_slots,ebikes,slots,outdoor_space_num,num_parks
0,36c6491aa1b52e5ef7005f984738de27,4,11,2,15,49,27
1,8db822a266b5ccb3a1e323ddc8721d62,3,16,0,19,8,3
2,660275cd7d4368cc7590f1606c633bd6,10,15,8,25,9,7

## Build a regression model.

In [31]:
# max - 3 iterations before moving on to stretch

In [32]:
all_data_numeric.describe()

,free_bikes,empty_slots,ebikes,slots,outdoor_space_num,num_parks
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,8.734375,12.132812,1.695312,21.923177,23.640625,9.791667
std,8.605796,7.393790,2.607457,7.108075,16.251479,6.811742
min,0.000000,0.000000,0.000000,11.000000,1.000000,1.000000
25%,2.000000,6.000000,0.000000,18.750000,9.000000,4.000000
50%,7.000000,12.000000,1.000000,19.000000,19.000000,8.000000
75%,13.000000,17.000000,2.000000,23.000000,38.000000,14.000000
max,60.000000,56.000000,15.000000,81.000000,51.000000,34.000000

In [34]:
#free bikes + outdoor space num
y = all_data_numeric['free_bikes']
X = all_data_numeric['outdoor_space_num']
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept, bias
X.head()

   const  outdoor_space_num
0    1.0                 49
1    1.0                  8
2    1.0                  9
3    1.0                  6
4    1.0                  8

In [35]:
model = sm.OLS(y, X) ## must be y first in statsmodel syntax (scikit learn is x first)
results = model.fit() #fit the model (this is where OLS is actually being run) - WHere math is done
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             free_bikes   R-squared:                       0.054
Model:                            OLS   Adj. R-squared:                  0.053
Method:                 Least Squares   F-statistic:                     43.71
Date:                Thu, 31 Aug 2023   Prob (F-statistic):           7.13e-11
Time:                        12:00:48   Log-Likelihood:                -2721.0
No. Observations:                 768   AIC:                             5446.
Df Residuals:                     766   BIC:                             5455.
Df Model:                           1
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                 5.8257      0.534     10.915      0.000       4.778       6.874
outdoor_space_num     0.1230      0.019      6.611      0.000       0.087       0.160
==============================================================================
Omnibus:                      166.628   Durbin-Watson:                   1.927
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              346.678
Skew:                           1.206   Prob(JB):                     5.25e-76
Kurtosis:                       5.240   Cond. No.                         50.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [37]:
#free bikes + parks num
y = all_data_numeric['free_bikes']
X = all_data_numeric['num_parks']
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept, bias
X.head()

   const  num_parks
0    1.0         27
1    1.0          3
2    1.0          7
3    1.0          3
4    1.0          4

In [38]:
model = sm.OLS(y, X) ## must be y first in statsmodel syntax (scikit learn is x first)
results = model.fit() #fit the model (this is where OLS is actually being run) - WHere math is done
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             free_bikes   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.000
Method:                 Least Squares   F-statistic:                     1.368
Date:                Thu, 31 Aug 2023   Prob (F-statistic):              0.242
Time:                        12:01:51   Log-Likelihood:                -2741.6
No. Observations:                 768   AIC:                             5487.
Df Residuals:                     766   BIC:                             5497.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          9.2567      0.544     17.020      0.000       8.189      10.324
num_parks     -0.0533      0.046     -1.170      0.242      -0.143       0.036
==============================================================================
Omnibus:                      234.135   Durbin-Watson:                   1.907
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              641.192
Skew:                           1.541   Prob(JB):                    5.85e-140
Kurtosis:                       6.247   Cond. No.                         21.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [40]:
#slots bikes + outdoor space num
y = all_data_numeric['slots']
X = all_data_numeric['outdoor_space_num']
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept, bias
model = sm.OLS(y, X) ## must be y first in statsmodel syntax (scikit learn is x first)
results = model.fit() #fit the model (this is where OLS is actually being run) - WHere math is done
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  slots   R-squared:                       0.153
Model:                            OLS   Adj. R-squared:                  0.152
Method:                 Least Squares   F-statistic:                     138.0
Date:                Thu, 31 Aug 2023   Prob (F-statistic):           2.08e-29
Time:                        12:03:45   Log-Likelihood:                -2531.9
No. Observations:                 768   AIC:                             5068.
Df Residuals:                     766   BIC:                             5077.
Df Model:                           1
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
const                17.8837      0.417     42.861      0.000      17.065      18.703
outdoor_space_num     0.1709      0.015     11.746      0.000       0.142       0.199
==============================================================================
Omnibus:                      382.595   Durbin-Watson:                   1.751
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3733.639
Skew:                           2.022   Prob(JB):                         0.00
Kurtosis:                      13.016   Cond. No.                         50.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [42]:
#slots bikes + parks_num
y = all_data_numeric['slots']
X = all_data_numeric['num_parks']
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept, bias
model = sm.OLS(y, X) ## must be y first in statsmodel syntax (scikit learn is x first)
results = model.fit() #fit the model (this is where OLS is actually being run) - WHere math is done
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  slots   R-squared:                       0.039
Model:                            OLS   Adj. R-squared:                  0.038
Method:                 Least Squares   F-statistic:                     31.46
Date:                Thu, 31 Aug 2023   Prob (F-statistic):           2.85e-08
Time:                        12:06:15   Log-Likelihood:                -2580.0
No. Observations:                 768   AIC:                             5164.
Df Residuals:                     766   BIC:                             5173.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         19.8939      0.441     45.144      0.000      19.029      20.759
num_parks      0.2072      0.037      5.609      0.000       0.135       0.280
==============================================================================
Omnibus:                      440.563   Durbin-Watson:                   1.673
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             5092.748
Skew:                           2.369   Prob(JB):                         0.00
Kurtosis:                      14.692   Cond. No.                         21.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

## Provide model output and an interpretation of the results.

#### Model Output

#### Model Interpretation:

**Note:**
* the number of parks is a subset of the number of outdoor spaces, as a result the independence assumption is violated. I will continue since these are the only two possible independent variables I have collected at this time.

# 2. Stretch

How can you turn the regression model into a classification model?

cat variable if ebikes are available.

In [ ]:
# assign a category to each station 
#